@model Auto
@{
    ViewBag.Title = "Actualizar";
}

<h2>Actualizar Auto</h2>
<hr />

<form class="form-group-lg" method="post" action="@Url.Action("Actualizar","Auto")">
    <div class="form-group">
        <label>Nombre</label>
        @Html.TextBoxFor(x => x.Nombre, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Modelo</label>
        @Html.TextBoxFor(x => x.Modelo, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Imagen</label>
        @Html.TextBoxFor(x => x.Imagen, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-success" value="Enviar" />
        <a href="@Url.Action("Index","Auto")" class="btn btn-primary">Regresar</a>
    </div>
</form>
